<mat-card class="keyboard">
  <mat-card-actions>
    <button class="adjustment" mat-raised-button (click)="onAddKana('a')" type=button>ぁ</button>
    <button mat-raised-button (click)="onAddKana('i')" type=button>い</button>
    <button mat-raised-button (click)="onAddKana('u')" type=button>う</button>
    <button mat-raised-button (click)="onAddKana('e')" type=button>え</button>
    <button mat-raised-button (click)="onAddKana('o')" type=button>お</button>
    <button mat-raised-button (click)="onAddKana('ka')" type=button>か</button>
    <button mat-raised-button (click)="onAddKana('ki')" type=button>き</button>
    <button mat-raised-button (click)="onAddKana('ku')" type=button>く</button>
    <button mat-raised-button (click)="onAddKana('ke')" type=button>け</button>
    <button mat-raised-button (click)="onAddKana('ko')" type=button>こ</button>
    <button mat-raised-button (click)="onAddKana('sa')" type=button>さ</button>
    <button mat-raised-button (click)="onAddKana('shi')" type=button>し</button>
    <button mat-raised-button (click)="onAddKana('su')" type=button>す</button>
    <button mat-raised-button (click)="onAddKana('se')" type=button>せ</button>
    <button mat-raised-button (click)="onAddKana('so')" type=button>そ</button>
    <button mat-raised-button (click)="onAddKana('ta')" type=button>た</button>
    <button mat-raised-button (click)="onAddKana('chi')" type=button>ち</button>
    <button mat-raised-button (click)="onAddKana('tsu')" type=button>つ</button>
    <button mat-raised-button (click)="onAddKana('te')" type=button>て</button>
    <button mat-raised-button (click)="onAddKana('to')" type=button>と</button>
    <button mat-raised-button (click)="onAddKana('na')" type=button>な</button>
    <button mat-raised-button (click)="onAddKana('ni')" type=button>に</button>
    <button mat-raised-button (click)="onAddKana('nu')" type=button>ぬ</button>
    <button mat-raised-button (click)="onAddKana('ne')" type=button>ね</button>
    <button mat-raised-button (click)="onAddKana('no')" type=button>の</button>
    <button mat-raised-button (click)="onAddKana('ha')" type=button>は</button>
    <button mat-raised-button (click)="onAddKana('hi')" type=button>ひ</button>
    <button mat-raised-button (click)="onAddKana('fu')" type=button>ふ</button>
    <button mat-raised-button (click)="onAddKana('he')" type=button>へ</button>
    <button mat-raised-button (click)="onAddKana('ho')" type=button>ほ</button>
    <button mat-raised-button (click)="onAddKana('ma')" type=button>ま</button>
    <button mat-raised-button (click)="onAddKana('mi')" type=button>み</button>
    <button mat-raised-button (click)="onAddKana('mu')" type=button>む</button>
    <button mat-raised-button (click)="onAddKana('me')" type=button>め</button>
    <button mat-raised-button (click)="onAddKana('mo')" type=button>も</button>
    <button mat-raised-button (click)="onAddKana('ya')" type=button>や</button>
    <button mat-raised-button (click)="onAddKana('yu')" type=button>ゆ</button>
    <button mat-raised-button (click)="onAddKana('yo')" type=button>よ</button>
    <button mat-raised-button (click)="onAddKana('ra')" type=button>ら</button>
    <button mat-raised-button (click)="onAddKana('ri')" type=button>り</button>
    <button mat-raised-button (click)="onAddKana('ru')" type=button>る</button>
    <button mat-raised-button (click)="onAddKana('re')" type=button>れ</button>
    <button mat-raised-button (click)="onAddKana('ro')" type=button>ろ</button>
    <button mat-raised-button (click)="onAddKana('wa')" type=button>わ</button>
    <button mat-raised-button (click)="onAddKana('o')" type=button>を</button>
    <button mat-raised-button (click)="onAddKana('n')" type=button>ん</button>
    <button mat-raised-button (click)="onAddKana('ga')" type=button>が</button>
    <button mat-raised-button (click)="onAddKana('gi')" type=button>ぎ</button>
    <button mat-raised-button (click)="onAddKana('gu')" type=button>ぐ</button>
    <button mat-raised-button (click)="onAddKana('ge')" type=button>げ</button>
    <button mat-raised-button (click)="onAddKana('go')" type=button>ご</button>
    <button mat-raised-button (click)="onAddKana('za')" type=button>ざ</button>
    <button mat-raised-button (click)="onAddKana('ji')" type=button>じ</button>
    <button mat-raised-button (click)="onAddKana('zu')" type=button>ず</button>
    <button mat-raised-button (click)="onAddKana('de')" type=button>ぜ</button>
    <button mat-raised-button (click)="onAddKana('zo')" type=button>ぞ</button>
    <button mat-raised-button (click)="onAddKana('da')" type=button>だ</button>
    <button mat-raised-button (click)="onAddKana('ji')" type=button>ぢ</button>
    <button mat-raised-button (click)="onAddKana('zu')" type=button>づ</button>
    <button mat-raised-button (click)="onAddKana('de')" type=button>で</button>
    <button mat-raised-button (click)="onAddKana('do')" type=button>ど</button>
    <button mat-raised-button (click)="onAddKana('ba')" type=button>ば</button>
    <button mat-raised-button (click)="onAddKana('bi')" type=button>び</button>
    <button mat-raised-button (click)="onAddKana('bu')" type=button>ぶ</button>
    <button mat-raised-button (click)="onAddKana('be')" type=button>べ</button>
    <button mat-raised-button (click)="onAddKana('bo')" type=button>ぼ</button>
    <button mat-raised-button (click)="onAddKana('pa')" type=button>ぱ</button>
    <button mat-raised-button (click)="onAddKana('pi')" type=button>ぴ</button>
    <button mat-raised-button (click)="onAddKana('pu')" type=button>ぷ</button>
    <button mat-raised-button (click)="onAddKana('pe')" type=button>ぺ</button>
    <button mat-raised-button (click)="onAddKana('po')" type=button>ぽ</button>
  </mat-card-actions>
  <textarea spellcheck="false" matInput rows="2" #value>{{ newKana }}</textarea>
  <br>
  <button (click)="submitKana(newKana)"
    mat-flat-button
    color="primary"
    type="submit">Select</button>
</mat-card>
