main {
  padding: 1vw auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

app-cards {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 80vh;
  padding: 2vh;
}

app-post-create {
  padding: 1em;
  margin-bottom: 1vh;
  height: auto;
  display: block;
  width: 100%;
}

app-post-list {
  padding: 1em;
  display: flex;
  width: 100%;
  order: 3;
}
@media screen and (min-width: 370px) and (max-width: 433px) {
  app-cards {
    height: 70vh;
  }
}
@media screen and (min-width: 434px) and (max-width: 564px) {
  app-cards {
    height: 60vh;
  }
}

@media screen and (min-width: 565px) and (max-width: 799px) {
  app-cards {
    height: 50vh;
  }
}

@media screen and (min-width: 800px) and (max-width: 1022px) {
  app-cards {
    height: 40vh;
  }
}

@media screen and (min-width: 1023px) {

app-cards {
  height: 30vh;
}

app-post-create {
  width: 45%;
}

app-post-list {
  width: 45%;
}
}
